# Basic configuration
DirectoryIndex index.php

# Enable rewrite engine
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# HTTPS redirect
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow extensionless PHP files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
